@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/**
  - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
  - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
  - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
  - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
  - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
  - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)
**/

:root {
  --blue: hsl(209, 23%, 22%);
  --dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  color: var(--very-dark-blue);
  background-color: var(--very-light-gray);
}

.container {
  min-width: 37.5rem;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 2rem;
  background-color: var(--white);
  box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.1);
}

.header__title {
  font-size: 2rem;
}

.dark-mode {
  padding: 1.2rem 2rem;
  width: 12.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  outline: none;
  border: transparent;
  transition: all 0.3s;
  cursor: pointer;
}

.dark-mode:hover {
  border-bottom: 1px #000 solid;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 0 2rem;
}

.form__search-container {
  display: flex;
  align-items: center;
  box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.05);
  margin-bottom: 4rem;
  background-color: #fff;
  border-radius: 0.3rem;
}

.form__search-container ion-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #999;
  margin-left: 2rem;
}

.form__search-input {
  padding: 1.5rem 0 1.5rem 2rem;
  width: 100%;
  border: none;
  outline: none;
}

.form__search-input::placeholder {
  color: #999;
}

.form__filter {
  width: max-content;
  padding: 1.4rem 6rem;
  padding-left: 2rem;
  border: none;
  outline: none;
  box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.1);
}

/* CARDS */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding: 0 4rem;
  gap: 3rem;
}

.card {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  justify-items: start;
  width: 25rem;
  box-shadow: 0 0 2rem 0.1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  padding-bottom: 2rem;
}

.card__flag {
  width: 100%;
}

.card__title {
  padding: 2rem 0 0 2rem;
}

.card__info-container {
  padding: 2rem;
  line-height: 1.8;
}

.card-info {
  font-weight: 600;
}

.card-info span {
  font-weight: 300;
}
